# Configuración del Nodo 2 IceGrid para Docker
IceGrid.Node.Name=node2
IceGrid.Node.Endpoints=tcp -h 0.0.0.0
IceGrid.Node.Data=/data/node2
IceGrid.Node.Output=/tmp

# Locator apunta al registry via nombre DNS de Docker
Ice.Default.Locator=SpotificeGrid/Locator:tcp -h registry -p 4061

# Permisos
IceGrid.Node.AllowRunningServersAsRoot=1

# Timeouts
Ice.Override.ConnectTimeout=5000

# Logging
Ice.Trace.Network=0
Ice.Trace.Protocol=0
