# IcePatch2 Server Configuration

# Locator to connect to Registry
Ice.Default.Locator=IceGrid/Locator:tcp -h 172.20.0.2 -p 4061

# IcePatch2 endpoints
IcePatch2.Endpoints=tcp -h 172.20.0.5 -p 4070
IcePatch2.InstanceName=SpotificePatch

# Directory with files to distribute
IcePatch2.Directory=/app/distrib

# Tracing
Ice.Trace.Network=1
