# IceGrid Node 1 Configuration
Ice.Default.Locator=Spotifice/Locator:tcp -h 172.20.0.2 -p 4061

IceGrid.Node.Name=node1
IceGrid.Node.Endpoints=tcp -h 0.0.0.0
IceGrid.Node.Data=/var/lib/ice/icegrid/node
IceGrid.Node.Output=/var/lib/ice/icegrid/node
IceGrid.Node.CollocateRegistry=0

# Tracing
Ice.ProgramName=icegridnode (node1)
IceGrid.Node.Trace.Server=1
IceGrid.Node.Trace.Adapter=1
