# IceGrid Registry Configuration

# Locator configuration
Ice.Default.Locator=IceGrid/Locator:tcp -h 172.20.0.2 -p 4061

# Registry identity
IceGrid.Registry.Client.Endpoints=tcp -h 172.20.0.2 -p 4061
IceGrid.Registry.Server.Endpoints=tcp -h 172.20.0.2 -p 4062
IceGrid.Registry.Internal.Endpoints=tcp -h 172.20.0.2 -p 4063

# Registry data directory
IceGrid.Registry.LMDB.Path=/app/icegrid/registry_data
IceGrid.Registry.DynamicRegistration=1

# Admin permissions (sin autenticación para simplicidad)
IceGrid.Registry.AdminPermissionsVerifier=IceGrid/NullPermissionsVerifier

# Tracing
Ice.Trace.Locator=1
IceGrid.Registry.Trace.Node=2
IceGrid.Registry.Trace.Adapter=2
